@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);


.hero {
    background: #CCC url('img/hero2kopie.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height:  300px;
    position: relative;
    
  }
  .hero__text { 
    font-family: 'raleway';
    font-weight: 400;
    font-size: 1.2rem;
    position:  absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform:  translate(-50%,-50%);
  }
  .hero__title { 
    font-family: 'Raleway';
    font-weight: 800;
    margin: 0;
    font-size: 3rem;
    color: rgb(229, 77, 66); 
  }

nav ul li{
    float: left;
    list-style: none;
    display: block;
}

nav ul li a{
    text-decoration: none;
    color: white;
    margin-left: 8px;
    font-size: 1em;
}

nav ul li a:hover{
    color:rgb(229, 77, 66);
    text-decoration: none;
}

h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: rgb(229, 77, 66); 
}

strong{
    color: rgb(229, 77, 66);
}

p{
    margin-left: 30px;
}

.btn {
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: rgb(229, 77, 66);
    border-radius: 15px;

}

.btn-up {
    position: fixed;
    right: 5px;
    top: 50%;
    width: 1.7em;
    margin-top: 0em;
}

.wrapper{
    padding-top: 20px;
}

.wrapper-color{
    background-color: rgb(238, 203, 203);
}

.wrapper-footer{
    background-color:  rgb(229, 77, 66);
    padding: 50px;
}


.display-3{
    color: rgb(229, 77, 66);
    font-size: 2em;
    margin-left: 20px;
}

.divmidden{
    margin:auto;
}



/* Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
*/
/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }
*/

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

    nav ul li a{
        text-decoration: none;
        color: white;
        margin-left: 20px;
        font-size: 1.5em;
    }

    .hero__title { 
        font-family: 'Raleway';
        font-weight: 800;
        margin: 0;
        font-size: 3rem;
        color: rgb(229, 77, 66); 
      }

      .hero__text p{ 
        font-size: 2.5rem;
      }

      .btn-up {
        position: fixed;
        right: 10px;
        top: 50%;
        width: 2em;
        margin-top: 0em;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    nav ul li a{
        text-decoration: none;
        color: white;
        margin-left: 20px;
        font-size: 1.5em;
    }

    .hero__title { 
        font-family: 'Raleway';
        font-weight: 800;
        margin: 0;
        font-size: 5.5rem;
        color: rgb(229, 77, 66); 
      }

      hero__text p { 
        font-size: 4rem;
      }

      .btn-up {
        position: fixed;
        right: 10px;
        top: 50%;
        width: 2.5em;
        margin-top: 0em;
    }

 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
 }